.poem-link-list {
  font-size: 1.25em;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}
