.poem-link-list {
  font-size: 1.25em;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1em;
}

.poem-link {
  color: #000;
  background-color: #0b0; /* bright green */
}
