.poem-title {
  margin-bottom: 0;
  background-color: #0b0; /* bright green */
}

.haiku {
  padding-top: 1em;
}

.poem-wrapper {
  padding-bottom: 1em;
}

.poem-line {
  padding: 0;
  margin: 0;
  text-indent: -2em;
  margin-left: 2em;
}
